<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件传输</title>
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet">
    <script th:src="@{/jquery/jquery-3.3.1.min.js}"></script>
</head>
<body>
<div class="form-actions">
    <h4>单文件上传</h4>
    <hr/>
    <form action="upload" method="POST" enctype="multipart/form-data">
        文件：<input type="file" name="file"/>
        <input  class="btn btn-info"  type="submit"/>
        <a href="/" class="btn btn-success" style="float: right">新版上传页面</a>
    </form>
</div>
<div class="form-actions">
    <h4>多文件上传</h4>
    <p>
        <input class="btn btn-success" type="button" value="增加上传文件" onclick="addFileUploadButton()"/>
    </p>
   <hr/>
    <form method="POST" enctype="multipart/form-data" action="batch" id="multipartFrom">
        <div id="files">
            <p id="file-1">文件1：<input type="file" name="file"/></p>
            <p id="file-2">文件2：<input type="file" name="file"/></p>
        </div>
        <hr/>
        <p><input class="btn btn-info" type="submit" value="上传"/></p>
    </form>
</div>
<div class="form-actions">
    <div class="download-title">
        <h4>文件下载</h4>
        <p>
            <input class="btn btn-success" type="button" value="显示文件" onclick="listFiles()"/>
        </p>
    </div>
    <hr/>
    <div id="listTheFiles"></div>
</div>

</body>
<script>
    function addFileUploadButton() {
        //获取增加第几个文件
        var num = countNodes();
        var para=document.createElement("p");
        para.id = "file-"+num;
        var node=document.createTextNode("文件"+num+"：");
        para.appendChild(node);
        var input=document.createElement("input");
        input.type = "file";
        input.name = "file";
        para.appendChild(input);
        document.getElementById("files").appendChild(para);
    }
    //计算需要增加第几个文件
    function countNodes() {
        var node = document.getElementById("files").lastElementChild;
        var str = node.id + "";
        var splitStartIndex =str.lastIndexOf("-")+1;
        var num = str.slice(splitStartIndex);
        return parseInt(num)+1;
        }

        $(
            function listFiles() {
                $.ajax({
                    method:"GET",
                    url:"listFiles",
                    success:function (data) {
                        var result = data;
                        if (result.result == "success") {
                            var urls = result.data;
                            for (var i = 0; i < urls.length; i++) {
                                var url ="download/"+ urls[i]
                                var node = "<a href=\""+url+"\">"+urls[i]+"</a><br>";
                                $("#listTheFiles").append(node);
                            }
                        }
                    }
                })
            }
        );
</script>
<style>
    .form-actions{
        margin-top: -15px;
        margin-bottom: -5px;
    }
    .download-title{
        margin-left: 20px;
    }
</style>
</html>